body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
}

.header {
  background-color: #3b5998;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
.header-title {
  display: flex;
  align-items: flex-end;
}
.register-button {
  background-color: #42b72a;
  border: 0;
  color: white;
  height: 28px;
  margin-left: 15px;
  border-radius: 2px;
  margin-bottom: 8px;
}

.logo {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.join-facebook {
  display: flex;
}

.triangle_down {
  width: 0;
  height: 0;
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: white transparent transparent;
  margin-top: 10px;
  margin-left: 5px;
}

main {
  padding: 10px 200px;
}

.desc-title {
  margin: 10px 0;
}

.groups {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.group {
  background: white;
  text-align: center;
  padding: 30px;
  width: 42%;
  border-radius: 10px;
}

.group-desc {
  color: gray;
}

.group-btn {
  margin-top: 100px;
  border-radius: 0;
  border: 1px lightgray solid;
  padding: 3px 10px;
}
